<p>
  <b>Role:</b>
  <%=h @role.name %>
</p>


<%= link_to 'Edit', '/admin/roles/' + @role.id.to_s + '/edit?model=' + Permission::PERMISSIONS.first.first.to_s %>
<%= link_to 'Back', admin_roles_path %>